h2 {
    color: var(--cor-primaria);
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  label {
    font-size: 1rem;
    color: var(--cor-texto-secundario);
  }
  input, textarea {
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    padding: 0.7em;
    font-size: 1rem;
    background: #f4f8fb;
    outline: none;
    width: 100%;
  }
  button {
    margin-top: 0.6em;
    padding: 0.7em;
    background: var(--cor-primaria);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background .2s;
  }
  button:hover {
    background: var(--cor-primaria-hover);
  }
  
  .error-message {
    color: #d32f2f;
    font-size: 0.8rem;
    margin-top: -0.8em;
    margin-bottom: 0.5em;
    text-align: left;
  }
  
  button:disabled {
    background-color: #bdbdbd;
    cursor: not-allowed;
  }