.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.project-card {
  background: var(--cor-fundo-card);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  max-width: 320px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.card-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  background: var(--cor-texto-primario);
}

.card-content {
  padding: 1.5rem;
  padding-bottom: 3rem;
}

.card-content h3 {
  margin: 0 0 0.8rem 0;
  color: var(--cor-primaria-hover);
}

.tech-tags {
  margin: 0.5rem 0;
}

.tech-tags span {
  display: inline-block;
  background: #e3f2fd;
  color: var(--cor-primaria);
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-actions {
  margin-top: 1rem;
  display: flex;
  gap: 0.8rem;
}

.btn {
  cursor: pointer;

  background: var(--cor-primaria);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background 0.2s;
  
   
  
}

.btn:hover {
  background: var(--cor-primaria-hover);
}

.modal-video-container {
  position: fixed;
  background: var(--cor-fundo-card);
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
  z-index: 1000;
  width: 320px;   /* Tamanho fixo, ajuste conforme necessário */
  height: 180px;  /* Tamanho fixo, ajuste conforme necessário */
  pointer-events: auto;
}

.modal-video-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal-video-content video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 768px) {
  .project-card {
    /* Faz o card ocupar mais espaço disponível, mas mantém um máximo */
    max-width: 90%;
    width: 320px; 
  }

  .cards-container {
    gap: 1rem; /* Diminui o espaço entre os cards */
  }
}